SUPABASE_URL=https://ypepkecbnkqpfyplqoyv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZXBrZWNibmtxcGZ5cGxxb3l2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk5NTQ4MzMsImV4cCI6MjA4NTUzMDgzM30.couGku-GhsdxqcJ735RTbu0Qt4bA94p72ZnSg9E2bgs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlwZXBrZWNibmtxcGZ5cGxxb3l2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTk1NDgzMywiZXhwIjoyMDg1NTMwODMzfQ.KIQG75K24PT5aV92Sytgh8doepvczKSO6-qZhScXKqA
